.service {
  background-color: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw;
}
.service_header {
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.service_head {
  color: white !important;
  font-weight: 900 !important;
  font-size: 4.5vw !important;
  font-family: "Montserrat", sans-serif !important;
  margin-bottom: 2vw !important;
}

.service_text {
  color: #c8cbdabf !important;
  font-family: Poppins !important;
  margin-bottom: 1vw !important;
  font-size: 1.6vw !important;
  width: 50%;
  text-align: center;
}
.service_cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 99%;
  margin-top: -3vw;
}
.card {
  min-height: 25vw;
  width: 25vw;
  background-color: #181818 !important;
  border-radius: 2vw !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 1.5vw;
}
.card_head {
  color: white !important;
  font-weight: 400 !important;
  font-size: 1.5rem !important;
  font-family: "Poppins", sans-serif !important;
  margin: 1vw 0 !important;
}
.card_text {
  min-height: 15vw;
  color: #c8cbdabf !important;
  font-family: Poppins !important;
  font-size: 0.95rem !important;
  width: 90%;
  text-align: justify;
}
.card_icon {
  color: white !important;
  font-size: 2rem !important;
}
.card:hover {
  background-image: linear-gradient(
    90deg,
    hsl(3deg 93% 51%),
    hsl(337deg 93% 49%)
  ) !important;
  cursor: pointer;
  transition: 0.3s ease-in-out !important;
  transform: translateY(-1vw) !important;
}
.card:hover > .card_head {
  color: #101010 !important;
}
.card:hover > .card_text {
  color: #101010 !important;
}
.card:hover > .card_icon {
  color: #101010 !important;
}
@media (max-width: 900px) {
  .card {
    width: 30vw;
    margin: 2vw;
  }
}
@media (max-width: 700px) {
  .card {
    width: 35vw;
    margin: 2vw;
    padding: 1rem;
  }
  .service_text {
    font-size: 1.9vw !important;
  }
}
@media (max-width: 600px) {
  .service_text {
    font-size: 1.9vw !important;
    width: 60%;
  }
  .service_header {
    height: 50vw;
    padding-top: 10vw;
  }
  .card {
    width: 70vw;
    margin: 2vw;
  }
  .card_icon{
    padding: 0.5rem 0;
  }

}
@media (max-width: 400px) {
  .service_text {
    font-size: 3.5vw !important;
    width: 80%;
  }
  .card {
    width: 80vw;
  }
  .card_text {
    width: 70vw !important;
    margin-left: 2vw !important;
  }
  .service_head {
    font-size: 7vw !important;
  }

  .card_head {
    margin-left: 2vw !important;
  }
  .card_icon{
    font-size: 2rem !important;
  }
}
