.portfolio {
  background-color: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw;
}
.portfolio_header {
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.portfolio_head {
  color: white !important;
  font-weight: 900 !important;
  font-size: 4.5vw !important;
  font-family: "Montserrat", sans-serif !important;
  margin-bottom: 2vw !important;
}

.portfolio_text {
  color: #c8cbdabf !important;
  font-family: Poppins !important;
  margin-bottom: 1vw !important;
  font-size: 1rem !important;
  width: 50%;
  text-align: center;
}
.portfolio_cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 95vw;
  margin-top: -3vw;
}
.portfolio_card {
  background-repeat: no-repeat;
  background-size: contain;
  width: 28vw;
  background-color: #333333bf !important;
  border-radius: 1vw !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 1.5vw;
  color: black;
  margin-top: 2rem;
  border-bottom: 10px solid#f90048;
}
.portfolio_card_img {
  height: 12rem;
  width: 100%;
  margin-bottom: 2vw;
  border-top-left-radius: 1vw !important;
  border-top-right-radius: 1vw !important;
  background-size: cover;
}
.portfolio_card_head {
  color: white !important;
  font-weight: 100 !important;
  font-size: 1.2rem !important;
  font-family: "Poppins", sans-serif !important;
  margin-bottom: 2vw !important;
}
.portfolio_card_text {
  min-height: 10rem;
  color: #c8cbdabf !important;
  font-family: Poppins !important;
  margin-bottom: 1vw !important;
  font-size: 0.9rem !important;
  width: 90%;
  text-align: center;
}
.portfolio_card_btn {
  color: white !important;
  border: 1px solid white !important;
  width: 4rem !important;
  height: 2.5rem;
  font-size: 0.9rem;
}
.portfolio_card_btn:hover {
  transition: 0.2s ease-in-out;
  background-color: #f90048 !important;
  color: white !important;
  border: 1px solid #181818 !important;
  transform: translateY(-2px) !important;
}
.portfolio_card:hover {
  background-image: linear-gradient(
    90deg,
    hsl(3deg 93% 51%),
    hsl(337deg 93% 49%)
  ) !important;
  cursor: pointer;
  transition: 0.4s ease-in-out !important;
  transform: scale(1.05, 1.05) !important;
}
.portfolio_card:hover > .portfolio_card_text {
  color: #181818 !important;
}
.portfolio_card:hover > .portfolio_card_head {
  color: #181818 !important;
}
.portfolio_card:hover > .portfolio_card_btn {
  color: #181818 !important;
  border: 1px solid #181818 !important;
}
@media (max-width: 900px) {
  .portfolio_card {
    width: 20rem;
    margin: 2vw;
  }

}
@media (max-width: 700px) {
  .portfolio_card_btn{
    margin-bottom: 1rem !important;
  }
  .portfolio_card_text {
    min-height: 8rem;
  }
  .portfolio_card_head {
    margin-top: 1rem !important;
  }
  .portfolio_card {
    width: 50vw;
    margin: 2vw;
  }
  .card_icon {
    font-size: 5vw !important;
    width: 5vw;
  }
}
@media (max-width: 600px) {
  .portfolio_text {
    width: 60%;
  }
  .portfolio_header {
    height: 50vw;
    padding-top: 10vw;
  }
  .portfolio_card {
    width: 70vw;
    margin: 2vw;
  }
  .portfolio_card_text{
    margin-top: 1rem !important;
  }
}
@media (max-width: 450px) {
  .portfolio_text {
    width: 80%;
  }
  .portfolio_card {
    width: 80vw;
    justify-content: space-around;
    margin-bottom: 1rem !important;
  }
  .portfolio_card_text {
    width: 70vw !important;
    margin-left: 2vw !important;
  }
  .portfolio_head {
    font-size: 7vw !important;
  }
  .card_icon {
    font-size: 5vw !important;
    margin-left: 2vw !important;
  }
  .portfolio_card_head {
    margin-left: 2vw !important;
  }
  .portfolio_card_img {
    margin-bottom: 2vw;
  }

}
