@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
.about {
  border: 0.1px solid #181818;
  background-color: #181818;
}

.top_button {
  color: #f90048;
  background-color: hsl(0deg 0% 6%);
  font-size: 3rem;
  border-radius: 50%;
  position: fixed;
  z-index: 2;
  bottom: 3vw;
  left: 2vw;
  animation: ease-in-out top_button 1s infinite;
  cursor: pointer;
}
@keyframes top_button {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1.5rem);
  }
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1.5rem);
  }
}
.shape4 {
  position: absolute;
  top: 90vw;
  right: 5vw;
  animation: shape4_spin infinite 10s linear;
}
.about_bg {
  position: absolute;
  width: 98vw;
  height: 55vw;
  z-index: 0;
  top: 77.4vw;
}
@keyframes shape4_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.shape5 {
  position: absolute;
  top: 90vw;
  right: 5vw;
  animation: shape5_spin infinite 20s linear;
}
@keyframes shape5_spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.wrapper2 {
  position: absolute;
  height: 20vw;
  width: 100%;
  transition: 0.6s ease-in-out;
}
.shapeX1 {
  position: absolute;
  top: 120vw;
  right: 25vw;
  width: 5vw;
}
.shapeX2 {
  position: absolute;
  top: 40vw;
  left: 10vw;
  width: 5vw;
}
.about_me {
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: center;
  height: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10vw;
}
.about_me_head {
  color: white !important;
  font-weight: 900 !important;
  font-size: 4.5vw !important;
  font-family: "Montserrat", sans-serif !important;
  margin-bottom: 5vw !important;
  z-index: 1;
}

.about_me_text {
  color: #ffffffbf !important;
  width: 50% !important;
  font-family: Poppins !important;
  margin-bottom: 5vw !important;
  font-size: 2vw !important;
  width: 70vw;
  text-align: center;
  z-index: 1;
}
.main_skills {
  padding: 3vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 10vw; */
}
.main_skills_head {
  color: white !important;
  font-weight: 500 !important;
  font-size: 3vw !important;
  font-family: "Montserrat", sans-serif !important;
  margin-bottom: 5vw !important;
}
.skills_div {
  /* border: 1px solid; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.about_div3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin-top: 5vw;
}
.education {
  margin-top: 5vw;
  text-align: center;
  width: 90%;
}
.ex_cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.edu_text {
  color: #c8cbdabf !important;
  font-family: Poppins !important;
  margin-bottom: 1vw !important;
  font-size: 1.6vw !important;
  text-align: center;
}
.ex_card {
  margin-top: 1rem;
  background-color: #101010 !important;
  height: 25vw;
  width: 25vw;
  border-radius: 2vw !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1.5vw;
}
.ex_card:hover {
  background-image: linear-gradient(
    90deg,
    hsl(3deg 93% 51%),
    hsl(337deg 93% 49%)
  ) !important;
  cursor: pointer;
  transition: 0.3s ease-in-out !important;
  transform: translateY(-1vw) !important;
}
.ex_card_head {
  color: white !important;
  font-weight: 400 !important;
  font-size: 2vw !important;
  font-family: "Poppins", sans-serif !important;
  background-color: #101010;
  border-radius: 50%;
  width: 98%;
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ex_card_head_div {
  background-image: linear-gradient(
    90deg,
    hsl(3deg 93% 51%),
    hsl(337deg 93% 49%)
  );
  width: 60%;
  height: 60%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ex_card_icon {
  width: 8vw;
}
@media (max-width: 979px) {
  .about_bg {
    width: 99.9vw;
    height: 55vw;
    top: 76.5vw;
  }
  .ex_card {
    width: 30vw;
    height: 30vw;
    margin: 2vw;
  }
}
@media (max-width: 700px) {
  .ex_card {
    width: 50vw;
    height: 40vw;
    margin: 2vw;
  }
  .card_icon {
    font-size: 5vw !important;
    width: 2rem !important;
  }
  .ex_card_head {
    font-size: 3.5vw !important;
  }
  .about_div3 {
    flex-direction: column;
  }
  .ex_card_head_div {
    width: 50%;
    height: 65%;
  }
  .education {
    width: 90vw;
    display: flex;
    flex-direction: column;
  }
  .education > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .shape4 {
    top: 130vw;
    right: 10vw;
    width: 20vw;
  }
  .shape5 {
    top: 130vw;
    right: 10vw;
    width: 20vw;
  }
  .about_bg {
    top: 126vw;
  }
  .shapeX1 {
    top: 85vw;
    right: 15vw;
    width: 5vw;
  }
  .shapeX2 {
    top: 85vw;
    left: 15vw;
    width: 5vw;
  }
  .main_skills_head{
    font-size: 2rem !important;
  }
}
@media (max-width: 600px) {
  .ex_card {
    width: 20rem;
    height: 18rem;
  }
  .ex_card_head {
    font-size: 1.5rem !important;
  }
  .ex_card_icon {
    width: 4rem !important;
  }
  .about_me {
    height: 90vw;
  }
  .about_me_head {
    font-size: 5vw !important;
  }
  .about_me_text {
    font-size: 3vw !important;
  }
  .education {
    align-items: center;
    justify-content: center;
  }

  .education > div {
    align-items: baseline;
  }
  .shape4 {
    right: 7vw;
    width: 25vw;
  }
  .shape5 {
    right: 7vw;
    width: 25vw;
  }
  .about_bg {
    height: 80vw;
    top: 125.5vw;
  }
  .shapeX1 {
    top: 75vw;
    right: 15vw;
    width: 5vw;
  }
  .shapeX2 {
    top: 95vw;
    left: 15vw;
    width: 5vw;
  }
}
@media (max-width: 400px) {
  .ex_card {
    width: 18rem;
    height: 16rem;
  }
  .ex_card_head {
    font-size: 1.2rem !important;
  }
  .about_me {
    padding-top: 10vw !important;
    height: 80vw;
  }
  .about_me_head {
    font-size: 8vw !important;
  }
  .about_me_text {
    font-size: 3.5vw !important;
    width: 80vw !important;
  }
  .edu_text {
    font-size: 0.8rem !important;
    width: 100vw;
  }
  .education {
    align-items: unset;
    justify-content: unset;
  }
  .shape4 {
    top: 185vw;
    right: 7vw;
    width: 30vw;
  }
  .shape5 {
    top: 185vw;
    right: 7vw;
    width: 30vw;
  }
  .about_bg {
    width: 99vw;
    height: 80vw;
    top: 172.5vw;
  }
  .shapeX1 {
    top: 105vw;
    right: 7vw;
    width: 5vw;
    display: none;
  }
  .shapeX2 {
    top: 125vw;
    left: 15vw;
    width: 5vw;
    display: none;
  }
}
