@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.navbar {
  /* border: 1px solid; */
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 95%;
  z-index: 1;
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  margin-right: 5vw;
}
.links > span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link {
  color: white;
  text-decoration: none;
  font-family: Poppins;
}
.link:hover {
  color: #f90048;
  border-bottom: 2px solid #f90048;
}
.social_links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 0.4;
}
.social_icon {
  color: white;
  font-size: 1.3rem;
}
.nav_contact_button {
  color: white !important;
  border: 1px solid white !important;
}
@media (max-width: 600px) {
  .social_links {
    flex: 1.5;
  }
}

