.App {
  /* background-color: #1d1d24; */
  height: 700px;
  background-color: hsl(0deg 0% 6%);
  background-image: url(/assets/bg-image-port.png) !important;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
